:root {
  --primary-color: #1e1e1e;
  --secondary-color: #eae9eb;
  --tertiary-color: #d1d1d1;
  --purple: #6b4196;
  --light-purple: #bf6dff;
}

.App {
  text-align: center;
}

.text-dark-gray {
  color: var(--primary-color);
}

.text-light-gray {
  color: var(--tertiary-color);
}

.text-offWhite {
  color: var(--secondary-color);
}

.bg-dark-gray {
  background-color: var(--primary-color);
}

.bg-light-gray {
  background-color: var(--tertiary-color);
}

.bg-offWhite {
  background-color: var(--secondary-color);
}

.bg-transparent {
  background-color: transparent;
}

.font-oswald {
  font-family: Oswald, sans-serif;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.noUnderline {
  text-decoration: none;
}

.border-red {
  border: 5px solid red;
}

#description {
  resize:none;
  height: 15rem;
}

.send {
  margin-bottom: 13.5625rem;
}