figure {
    position: relative;
    padding: 0.5rem;
    background-color: var(--primary-color);
    box-shadow: .0625rem .0625rem .3125rem var(--light-purple);
    margin: .125rem;
}

figcaption {
    position: absolute;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 0.5rem;
    text-align: left;
    bottom: 2rem;
}

img { 
    width: 100%;
}